<section class="uk-section uk-section-default">
    <div class="uk-container">
        <!-- sin incluir uk-grid no va el grid -->
        <div class="uk-child-width-1-2@m" uk-grid >

            {{#each torneos}}
            <div >
                <div style="height:400px;"
                     class="uk-card uk-card-default uk-grid uk-grid-collapse uk-child-width-1-2 uk-margin">
                    <div class="uk-card-media-left uk-cover-container">
                        <a href="/torneos/{{ _id }}/ver">
                        <img style="height:400px;"
                             class="uk-cover" src="/images/gesto/torneo.jpg"></a>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ nombre }}</h3>
                            <p>Creado por <span uk-icon="icon: user"></span> {{creador}}</p>
                            <p>Inicio de Inscripción {{ inicioTorneo }}.</p>                            
                            <p>Fin de Inscripción {{ finInscripcion }}.</p>
                            <p>
                            {{#if unido}}
                            <span class="uk-label uk-label-success">UNIDO</span>
                            {{else}}                           
                                <a class="uk-width-1-1 uk-button uk-button-secondary uk-button-small"
                                href="/torneos/{{ _id }}/unirse">
                                Apuntarse
                                </a>                               
                            {{/if}}
                            </p>
                             <p>
                                <b>{{categoria}}</b>  
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</section>
