
<section class="uk-section">
    <!-- necesitamos un uk-inline para contener el div de abajo -->
    <div class="uk-inline uk-width-1-1 ">
        <img id="indexImage" src="/images/gesto/index.jpg" alt="">
        <div class="uk-position-center uk-overlay uk-overlay-default">
            <h2 class="uk-margin">¿Qué torneo estás buscando?</h2>
            <div class="uk-margin">
                <form class="uk-search uk-search-default uk-width-1-1"
                      action="/anuncios">
                    <span uk-search-icon></span>
                    <input class="uk-search-input"
                           name="criterio"
                           type="search" placeholder="Buscar...">
                </form>
            </div>
        </div>
    </div>
</section>