
<section class="uk-section">
    <!-- necesitamos un uk-inline para contener el div de abajo -->
    <div class="uk-inline uk-width-1-1 ">
        <img id="indexImage" src="/images/gesto/index.jpg" alt="">
        <div class="uk-position-center uk-overlay uk-overlay-default">
            <h2 class="uk-margin">¿Qué torneo estás buscando?</h2>
            <div class="uk-margin">
                <form class="uk-search uk-search-default uk-width-1-1"
                      action="/anuncios">
                    <span uk-search-icon></span>
                    <input class="uk-search-input"
                           name="criterio"
                           type="search" placeholder="Buscar...">
                </form>
            </div>
        </div>
    </div>
</section>

<section class="uk-section uk-section-default">
    <div class="uk-container">
        <!-- Todos los hijos ocupan la mitad 1-2 cuando es de m o más -->
        <div class="uk-grid uk-child-width-1-2@m">
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                    <div class="uk-card-media-left uk-cover-container">
                        <img class="torneoCover" src="/images/gesto/torneo.jpg">
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Torneo viejas glorias</h3>
                            <p>17 Plazas libres</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <div class="uk-card-media-left uk-cover-container">
                        <img class="torneoCover" src="/images/gesto/torneo.jpg" alt="">
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Torneo público de Gijón</h3>
                            <p>Plazas llenas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                    <div class="uk-card-media-left uk-cover-container">
                        <img class="torneoCover" src="/images/gesto/torneo.jpg" alt="">
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Torneo público de Oviedo</h3>
                            <p>5 Plazas libres</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <div class="uk-card-media-left uk-cover-container">
                        <img class="torneoCover" src="/images/gesto/torneo.jpg" alt="">
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Torneo público de Avilés</h3>
                            <p>10 Plazas libres</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
