<section class="uk-section">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center">
        <form method="post" action="/torneos/crear" >
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <label class="uk-form-label">Nombre:</label>
                    <input class="uk-input" name="nombre" placeholder="Nombre del torneo" type="text" required>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Número de equipos máximo:</label>
                <select class="uk-select" name="nEquipos" required>
                    {{#each numEquipos}}
                    <option>{{ this }}</option>
                    {{/each}}
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Categoría:</label>
                <select class="uk-select" name="categoria" required>
                    {{#each categoria}}
                    <option>{{ this }}</option>
                    {{/each}}
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Fecha inicio torneo:</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                    <input class="uk-input" name="fecha" placeholder="Día de inicio del torneo" type="date" required>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span>Visibilidad:</span>
                    <br>
                    <label><input class="uk-radio" type="radio" name="visibilidad" value="public" checked> Público</label>
                    <br>
                    <label><input class="uk-radio" type="radio" name="visibilidad" value="private"> Privado</label>
                </div>
            </div>
            <input type="submit" value="Crear torneo" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
        </form>
    </div>
</section>
