
<section class="uk-section">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Nombre</th>
                    <th class="uk-table-expand">Inicio Inscripcion</th>
                    <th class="uk-table-expand">Fin Inscripcion</th>
                    <th class="uk-width-small">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {{#each torneos}}
                <tr>
                    <td >{{ nombre }}</td>
                    <td >{{ inicioInscripcion }}</td>
                    <td >{{ finInscripcion }}</td>
                    <td>                        
                        <a class="uk-link" href="/torneos/{{_id}}/eliminar">
                            <span  uk-icon="trash"></span>
                            Suspender
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <ul class="uk-pagination uk-flex-center" uk-margin>
            {{#each paginas}}

                <li class="{{ clase }}">
                    <a href="/torneos/creados?pg={{valor}}">{{valor}}</a>
                </li>

            {{/each}}
        </ul>
    </div>
</section>