<section class="uk-section">
    <div class="uk-container">
        <h1 class = "uk-heading-medium uk-align-center">{{torneo.nombre}}</h1>
        <p>Creado por {{torneo.creador}}</p>
        <p>Categoria: <b>{{torneo.categoria}}</b></p>
        <a class="uk-button uk-button-default" href="/torneos/{{torneo._id}}/ver">Bracket</a>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Equipo</th>
                    <th class="uk-table-expand">Goles a favor</th>
                    <th class="uk-table-expand">Goles en contra</th>
                    <th class="uk-width-small">Diferencia de goles</th>
                </tr>
                </thead>
                <tbody>
                {{#each equipos}}
                <tr>
                    <td>{{ nombre }}</td>
                    <td>{{ golesFavor }}</td>
                    <td>{{ golesContra }}</td>
                    <td>{{ diferencia }}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>