{{#if (empty torneo.partidos)}}
<section class="uk-section">
    <div class="uk-container">
        <h1 class = "uk-heading-medium">{{torneo.nombre}}</h1>
        <p class="uk-text-large">El torneo comienza el {{torneo.inicioInscripcion}}</p>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Equipos participantes</th>
                </tr>
                </thead>
                <tbody>
                {{#each torneo.equipos}}
                <tr>
                    <td>{{ this }}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>
{{else}}
<section class="uk-section bracket">
    <div class="uk-container">
        <h1 class = "uk-heading-medium uk-align-center">{{torneo.nombre}}</h1>
        <div class = "uk-overflow-auto">
            <div class="container">
                <div class="tournament-bracket tournament-bracket--rounded">
                    {{#each partidos}}
                    <div class="tournament-bracket__round">
                        <ul class="tournament-bracket__list">
                            {{#each this}}
                            <li class="tournament-bracket__item">
                                <div id="{{this.equipoLocal}}!-!{{this.equipoVisitante}}" class="tournament-bracket__match" tabindex="0" >
                                    <table class="tournament-bracket__table">
                                        <caption class="tournament-bracket__caption">
                                            <time datetime="1998-02-18">{{this.fechaHora}}</time>
                                        </caption>
                                        <thead class="sr-only">
                                        <tr>
                                            <th>Equipo</th>
                                            <th>Resultado</th>
                                        </tr>
                                        </thead>
                                        <tbody class="tournament-bracket__content">
                                        <tr class="tournament-bracket__team">
                                            <td class="tournament-bracket__country">
                                                <abbr class="tournament-bracket__code">{{this.equipoLocal}}</abbr>
                                                <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                                      aria-label="Flag"></span>
                                            </td>
                                            <td class="tournament-bracket__score">
                                                <span class="tournament-bracket__number">{{this.resultado.golesEquipoLocal}}</span>
                                            </td>
                                        </tr>
                                        <tr class="tournament-bracket__team">
                                            <td class="tournament-bracket__country">
                                                <abbr class="tournament-bracket__code">{{this.equipoVisitante}}</abbr>
                                                <span class="tournament-bracket__flag flag-icon flag-icon-kz"
                                                      aria-label="Flag"></span>
                                            </td>
                                            <td class="tournament-bracket__score">
                                                <span class="tournament-bracket__number">{{this.resultado.golesEquipoVisitante}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    let match = undefined;
    const code = '<div class="uk-container"> <h1 class="uk-heading-small uk-align-center">Resultados</h1> <legend class="uk-legend uk-text-center">!TEAMS!</legend> <form method="POST" action="/torneos/{{torneo._id}}/resultado" class="uk-grid-small" uk-grid><div class="uk-width-1-2"> <input class="uk-input" type="number" min="0" required name="!NAME1!"> </div> <div class="uk-width-1-2"> <input name="!NAME2!" class="uk-input" min="0" type="number" required> </div> <div class="uk-width-1-1 uk-margin-bottom"> <button class="uk-button uk-button-default">Guardar</button> </div> </form> </div>'
    UIkit.util.on('.tournament-bracket__match', 'click', function (e) {
        match = e.target.closest('div').id;
        if(!!match){e
            if(match.toLowerCase().includes('determinar')){
                match = undefined;
                return;
            }
            e.preventDefault();
            e.target.blur();
            var teams = match.split('!-!')
            var modal = UIkit.modal.dialog(code.replace('!TEAMS!',teams[0]+' - '+teams[1]).replace('!NAME1!',teams[0]).replace('!NAME2!',teams[1]));
            modal.$el.addEventListener("submit", function (event) {
                    var local = parseInt(event.target[0].value);
                    var visitante =parseInt(event.target[1].value);
                    if(local === visitante){
                        UIkit.notification({message: 'Un equipo debe ser ganador', status: 'danger'})
                        event.preventDefault();
                    }
            }, false);
        }
    });
</script>    
{{/if}}
