<section class="uk-section">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Equipo</th>
                </tr>
                </thead>
                <tbody>
                {{#each torneos.equipos}}
                <tr>
                    <td >{{ titulo }}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>
