{{#if (empty torneo.partidos)}}
<section class="uk-section">
    <div class="uk-container">
        <h1 class = "uk-heading-medium">{{torneo.nombre}}</h1>
        <p class="uk-text-large">El torneo comienza el {{torneo.inicioInscripcion}}</p>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Equipos participantes</th>
                </tr>
                </thead>
                <tbody>
                {{#each torneo.equipos}}
                <tr>
                    <td>{{ this }}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>
{{else}}
<section class="uk-section bracket">
    <div class="uk-container">
        <h1 class = "uk-heading-medium">{{torneo.nombre}}</h1>
        <div class = "uk-overflow-auto">
            <div class="container">
                <div class="tournament-bracket tournament-bracket--rounded">
                    {{#each partidos}}
                    <div class="tournament-bracket__round">
                        <ul class="tournament-bracket__list">
                            {{#each this}}
                            <li class="tournament-bracket__item">
                                <div class="tournament-bracket__match" tabindex="0">
                                    <table class="tournament-bracket__table">
                                        <caption class="tournament-bracket__caption">
                                            <time datetime="1998-02-18">18 February 1998</time>
                                        </caption>
                                        <thead class="sr-only">
                                        <tr>
                                            <th>Equipo</th>
                                            <th>Resultado</th>
                                        </tr>
                                        </thead>
                                        <tbody class="tournament-bracket__content">
                                        <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                            <td class="tournament-bracket__country">
                                                <abbr class="tournament-bracket__code">{{this.equipoLocal}}</abbr>
                                                <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                                      aria-label="Flag"></span>
                                            </td>
                                            <td class="tournament-bracket__score">
                                                <span class="tournament-bracket__number">0</span>
                                            </td>
                                        </tr>
                                        <tr class="tournament-bracket__team">
                                            <td class="tournament-bracket__country">
                                                <abbr class="tournament-bracket__code">{{this.equipoVisitante}}</abbr>
                                                <span class="tournament-bracket__flag flag-icon flag-icon-kz"
                                                      aria-label="Flag"></span>
                                            </td>
                                            <td class="tournament-bracket__score">
                                                <span class="tournament-bracket__number">0</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}

