<!DOCTYPE html>
<html lang="en">
<head>
    <title>GESTO</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/uikit.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.js"></script>
    <script src="/js/uikit-icons.js"></script>
</head>
<body>


<!-- NOTIFICACION -->
{{#if mensaje}}
<script>
    UIkit.notification({message: '{{ mensaje }}', status: 'success'})
</script>
{{/if}}
<script>
    var mensaje = getUrlParameter('mensaje');
    var tipoMensaje = getUrlParameter('tipoMensaje');

    if ( mensaje != ""){
        if (tipoMensaje == "" ){
            tipoMensaje = 'primary';
        }
        UIkit.notification({message: mensaje, status: tipoMensaje})
    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' :
            decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>



<!--HEADER-->
<header class="uk-box-shadow-small">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" data-uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img width=100" height="100" src="/images/gesto/logo.png" alt="">
                </a>
            </div>

            {{#if usuarioAutenticado}}
            <div class="uk-navbar-right">
                <!-- uk-visible@m Lo visualiza en pantallas más pequeñas de m-->
                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a href="/torneos/inscrito">
                            <span data-uk-icon="heart"
                                  class="uk-margin-small-right">
                            </span> Inscrito
                        </a>
                    </li>
                    <li>
                        <a href="/torneos/creados">
                            <span data-uk-icon="list"
                                  class="uk-margin-small-right">
                            </span> Mis torneos
                        </a>
                    </li>
                </ul>
                <div class="uk-navbar-item">
                    <a href="/torneos/crear"
                       class="uk-button uk-button-primary uk-visible@m">
                        <span data-uk-icon="plus-circle"
                              class="uk-margin-small-right">
                        </span>Crear torneo
                    </a>
                </div>
                {{/if}}

                {{#if usuarioAutenticado}}
                <div class="uk-navbar-item uk-navbar-right">
                    <div class="uk-button uk-button-default uk-visible@m">
                         {{usuarioAutenticado}}
                    </div>
                </div>
                <div class="uk-navbar-item uk-navbar-right">
                    <a href="/desconectarse"
                       class="uk-button uk-button-danger uk-visible@m"> 
                        <span data-uk-icon="sign-out"
                              class="uk-margin-small-right">
                        </span>Desconectarse
                    </a>
                </div>
                {{/if}}
                {{^usuarioAutenticado}}
                <div class="uk-navbar-item uk-navbar-right">
                    <a href="/login"
                       class="uk-button uk-button-default uk-visible@m">
                        <span data-uk-icon="sign-in"
                              class="uk-margin-small-right">
                        </span>Acceder
                    </a>
                </div>
                {{/usuarioAutenticado}}

                <!-- Menú de movil lo oculta en pantallas mayores de m-->
                <div class="uk-navbar-item uk-hidden@m">
                    <a class="uk-navbar-toggle"
                       data-uk-toggle data-uk-navbar-toggle-icon
                       href="#offcanvas-nav">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- Menú para movil - offCanvas -->
<div id="offcanvas-nav"
     data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button
                class="uk-offcanvas-close uk-close uk-icon"
                type="button"
                data-uk-close>
        </button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Inicio</li>
            {{#if usuarioAutenticado}}
            <li>
                <a href="/torneos/inscrito">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: heart">
                    </span>Inscrito
                </a>
            </li>
            <li>
                <a href="/torneos/creados">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: list">
                    </span>Mis torneos
                </a>
            </li>
            <li>
                <a href="/torneos/crear">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: plus-circle">
                    </span>Crear torneo
                </a>
            </li>
            {{/if}}
            {{#if usuarioAutenticado}}
            <li>
                {{ usuarioAutenticado }}
            </li>
            <li>
                <a href="/desconectarse">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: sign-in">
                    </span>Desconectarse
                </a>
            </li>
            {{/if}}
            {{^usuarioAutenticado}}
            <li>
                <a href="/login">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: sign-in">
                    </span>Acceder
                </a>
            </li>
            {{/usuarioAutenticado}}
        </ul>
    </div>
</div>

{{{content}}}

<!--FOOTER-->
<footer class="uk-section-secondary">
    <div class="uk-container uk-section">
        <div class="uk-grid uk-child-width-1-3@m">
            <div>
                <h4 class="uk-margin-top">¿Quiénes somos?</h4>
                <ul class="uk-list uk-list-bullet">
                    <li>Equipo 3</li>
                    <li>Máster en Ingeniería Web</li>
                    <li>Análisis y Diseño Orientado a Objetos</li>
                    <li>UNIOVI</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
